FsApiToken = "<your FullStory API token>"
Backoff = "30s"
BackoffStepsMax = 8
CheckInterval = "30m"
TmpDir = "/tmp"
Warehouse="redshift"
GroupFilesByDay = false

[s3]
# bucket that will be used to stage files into Redshift
Bucket = ""
# region of the above bucket
Region = "us-east-2"
# timeout for copying export files from the local machine to S3
Timeout = "5m"
# upload data file only (i.e. skip load to Redshift)?
S3Only = true

[redshift]
User = "<your user>"
Password = "<password>"
Host = "<redshift host details>.redshift.amazonaws.com"
Port = "5439"
DB = "dev"
# the table where the export data will be written
ExportTable = "fsexport"
# metadata table that holds info on export history
SyncTable   = "fssync"
# IAM role associated with redshift
Credentials = "aws_iam_role=arn:aws:iam::<...>"
VarCharMax = 65535
DatabaseSchema = "public"

[gcs]
Bucket = "<your bucket>"
GCSOnly = false

[bigquery]
Project = "<your project>"
Dataset = "<your dataset>"
ExportTable = "<your export table>"
SyncTable = "<your sync table>"

[local]
SaveDir = "<path to your local dir>"
StartTime = "<Start time for data exports in the following format: 2016-12-15T01:30:00Z>"
